.modal
    position: fixed
    top: 0
    display: none
    &_active
        display: flex
    &-dialog
        background-color: $main-color
        width: 350px
        height: 150px
        padding: 40px
        &__close
            top: 0
            right: 0
            position: absolute